[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
blinker = "*"
simplejson = "*"
python-dotenv = "*"
watchdog = "*"
requests = "*"
requests-html = "*"
podgen = "*"
waitress = "*"
cachelib = "*"
flask-caching = "*"
pytz = "*"
flask-reverse-proxy-fix = "*"
lxml-html-clean = "*"
urllib3 = ">=2.5"

[requires]
python_version = "3.12"
